:root {
--main-color: #2E2F42;
--text-color: #434455;
--primary-brand: #4D5AE5;
--text-selection: #404BBF;
--backgrount-color:#FFFFFF;
--accent-color: #F4F4FD;
--footer-accent: #31D0AA;
--customers-color: #afb1b8;
--modal-color: #8E8F99;
}

h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

a {
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgrount-color);
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
}

.container {
    max-width: 428px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}

.middle-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

@media screen and (min-width: 768px) {
    .middle-title {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .middle-title {
        font-weight: 500;
        font-size: 20px;
    }
}

.text-page {
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
    .text-page {
        font-weight: 400;
    }
}

/******************************* logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--primary-brand);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}

.part-logo {
    color: var(--main-color);
}

.footer-logo {
    color: #f4f4fd;
}

/******************************* header */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-nav {
    display: flex;
    align-items: center;
}

.nav-title {
    display: none;
}

@media screen and (min-width: 768px) {
    .nav-title {
        display: flex;
        align-items: center;
        gap: 40px;
        letter-spacing: 0.02em;
  }
}

.navigation {
    display: block;
    padding: 24px 0;
    color: var(--main-color);
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation:hover,
.navigation:focus {
    color: var(--text-selection);
}

.actual-link::after {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background: var(--text-selection);
}

.address-container {
    display: none;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-color);
}

@media screen and (min-width: 768px) {
    .address-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0;
  }
}

@media screen and (min-width: 1158px) {
    .address-container {
        flex-direction: row;
        align-items: center;
        gap: 40px;
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


.contacts {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
    .contacts {
        padding: 24px 0;
  }
}

.contacts:hover,
.contacts:focus {
    color: var(--text-selection)
}

.burger-btn {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    border: none;
    background-color: var(--backgrount-color);
}

@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
  }
}

.svg-button {
    width: 32px;
    height: 22px;
}

/******************************* main */

.hero {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 112px 0;
    background-color: var(--main-color);
    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_mob@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_mob@2x.jpg);
  }
}

@media screen and (min-width: 429px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_tab@1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_tab@2x.jpg);
      }
  }
}

@media screen and (min-width: 769px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_desk@1x.jpg);
        }
        
 @media screen and (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_desk@2x.jpg);
      }
    }
}

.hero-title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--backgrount-color);
}

@media screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
  }
}

@media screen and (min-width: minwidthpx) {
    .hero-title {
        margin-bottom: 48px;
  }
}

.hero-button {
    min-width: 169px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 16px 32px;
    align-items: center;
    letter-spacing: 0.04em;
    background: var(--primary-brand);
    color: var(--backgrount-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
    background-color: var(--text-selection);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.categories {
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .category-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .category-list {
        gap: 24px;
    }
}

@media screen and (min-width: 768px) {
    .category-item {
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .category-item {
        width: calc((100% - 72px) / 4);
    }
}

.category-icons {
    display: none;
}

@media screen and (min-width: 1158px) {
    .category-icons { 
        display: flex;
        height: 112px;
        margin-bottom: 8px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
     }
}

.section-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
}

.desctop-section {
    display: none;
}
    
@media screen and (min-width: 1158px) {
    .desctop-section {
        display: block;
        padding-bottom: 120px;
    }
}

.desctop-list {
    display: flex;
    gap: 24px;
}

.members {
    background-color: var(--accent-color);
    color: var(--main-color);
}

.member-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .member-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .member-list {
        gap: 24px;
    }
}

.member-item {
    margin: 0 auto;
    background-color: var(--backgrount-color);
    letter-spacing: 0.02em;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
    .member-item  {
        margin: 0;
        text-align: center;
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .member-item  {
        width: calc((100% - 72px) / 4);
    }
}

.team-content {
    padding: 32px 0;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.member-title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.member-text {
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 1158px) {
    .social-list {
        gap:24px;
    }
}

.social-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--text-selection);
}

.social-icon {
    fill: var(--accent-color);
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}

@media screen and (min-width: 768px) {
    .customers-list {
        column-gap: 24px;
    }
}

@media screen and (max-width: 767px) {
    .customers-item {
        display: flex;
        flex-basis: calc((100% - 32px) / 2);
    }
}

.customers-link {
    display: flex;
    flex-basis: 190px;
    height: 88px;
    border: 1px solid var(--modal-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--customers-color);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .customers-link {
        width: 168px;
        height: 88px;
    }
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--text-selection);
    color: var(--text-selection);
}

.customers-icon {
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover,
.customers-icon:focus {
    fill: var(--text-selection);
}

/******************************* portfolio */

.section-portfolio {
    padding: 96px 0 120px;
}

.portfolio-buttons {
    display: flex;
    margin-bottom: 72px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

.portfolio-button {
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    background-color: #F4F4FD;
    color: var(--primary-brand);
    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--text-selection);
    color: var(--backgrount-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-link {
    display: block;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-content {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--primary-brand);
    color: var(--accent-color);
   
    letter-spacing: 0.02em;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-content,
.portfolio-link:focus .overlay-content {
    transform: translateY(0);
}

.card-content {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

/******************************* footer */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--main-color);
}

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.footer-container {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-container {
        text-align: start;
        flex-wrap: wrap;
        display: flex;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
    }
}

.footer-content {
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footer-content {
        margin-left: 108px;
        margin-right: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-content {
        margin: 0 120px 0 0;
    }
}

 .footer-link {
    margin: 0 auto 16px auto;
    display: inline-block;
 }

 @media screen and (min-width: 768px) {
    .footer-link {
        margin-bottom: 16px;
    }
 }

 .text-footer {
    text-align: start;
    margin: 0 auto;
    max-width: 264px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
 }

 @media screen and (min-width: 768px) {
    .text-footer {
        margin: 0;
    }
 }

 .footer-socials {
    margin-bottom: 72px;
 }

@media screen and (min-width: 768px) {
    .footer-socials {
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer-socials {
        margin-right: 80px;
    }
}

.footer-title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--backgrount-color);
}

@media screen and (min-width: 768px) {
    .footer-title {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .footer-title {
        margin-right: 80px;
    }
}

.social-footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .social-footer-list {
        justify-content: normal;
    }
}

.social-footer:hover,
.social-footer:focus {
    background-color: var(--footer-accent);
}

.footer-icon {
    fill: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
    .subscribe {
        margin-left: 108px;
    }
}

@media screen and (min-width: 768px) {
    .footer-form {
        display: flex;
        gap: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer-label {
        display: block;
        margin-bottom: 16px;
    }
}

.footer-input {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--main-color);
    color: var(--backgrount-color);
}

@media screen and (min-width: 768px) {
    .footer-input {
        width: 264px;
    }
}

.footer-input::placeholder {
    color: var(--backgrount-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
}

.button-subscripe {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    color: var(--backgrount-color);
    background-color: var(--primary-brand);
}

@media screen and (min-width: 768px) {
    .button-subscripe {
        margin: 0;
    }
}

/******************************* mobile menu header */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgrount-color);
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 40px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    pointer-events: initial;
    opacity: 1;
    visibility: visible;
    overflow: auto;

    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.mobile-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-link:hover,
.mobile-link:focus {
    color: var(--text-selection);
}

.mobile-address {
    margin-top: auto;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mobile-tel {
    font-weight: 700;
    font-size: 36px;
}

.mobile-mail {
    display: block;
    margin-top: 40px;
    font-size: 20px;
}

.mobile-social-list {
    display: flex;
    margin-top: 48px;
    margin-bottom: 40px;
    justify-content: space-around;
}

/******************************* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(0.65);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 408px;
    min-height: 576px;
    padding: 24px 24px;
    border-radius: 4px;
    background-color:#FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: rotate(180deg);
    opacity: 0;
}

.backdrop-button {
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button:hover,
.backdrop-button:focus,
.backdrop-button:active {
    background-color: var(--text-selection);
}

.backdrop-icon {
    fill: var(--main-color);
}

.backdrop-button:hover .backdrop-icon,
.backdrop-button:focus .backdrop-icon,
.backdrop-button:active .backdrop-icon {
    fill: var(--backgrount-color);
}

.modal-title {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--main-color);
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    gap: 4px;
}

.modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: var(--modal-color);
}

.form-input {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 0 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: 1px solid transparent;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border: 1px solid var(--primary-brand);
}

.modal-contacts-icon {
    position: absolute;
    left: 16px;
    top: 8px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-contacts-icon,
.modal-input:hover+.modal-contacts-icon {
    fill: var(--primary-brand);
}

.form-comment {
    margin-bottom: 16px;
}

.form-checkbox {
    margin-bottom: 24px;
    display: block;
}

.comment-input {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: 1px solid transparent;
    resize: none;
    padding: 8px 16px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:hover,
.comment-input:focus {
    border: 1px solid var(--primary-brand);
}

.comment-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.label-checkbox {
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-color);
}

/* Checkbox with ::before */

/* .checkbox-input:checked + .label-checkbox::before {
    background-color: var(--text-selection);
    background-image: url(../images/property.svg);
    background-size: cover;
    border: var(--text-selection);
}

.label-checkbox::before {
    content:"";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
} */

/* Checkbox with ::before */

.icon-box {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
    opacity: 0;
    fill: var(--text-selection);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .icon-box {
    border: transparent;
    background-color: var(--text-selection);
}

.checkbox-input:checked + .icon-box > .icon-check {
    opacity: 1;
}

.form-link {
    text-decoration-line: underline;
    color: var(--primary-brand);
}

.send-button {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--primary-brand);
    color: var(--backgrount-color);
    border: none;
}